.App {
  /* text-align: center; */
  background-color: white;
}

body {
  background-image: url("./background.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.Intro {
  background-color: #8b909b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("./background.jpg");
} 


.App-header {
  /* background-color: #222; */
  /* padding: 20px; */
  color: white;
  /* text-align: center; */
}

.App-link {
  color: #61dafb;
}

.Quiz1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3ddd0; 
  background-image: url("./background.jpg");
}

.instructions {
  color: black;
  margin-left: 75px;
  margin-right: 75px;
  text-align: center;
}

.results-card {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.results-text {
  padding-top: 20px;
  padding-left: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
