.App {
  background-color: transparent;
}

.quiz-container {
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  margin-top: 150px;
}

.results-container {
  border-radius: 10px;
  margin-left: 22%;
  margin-right: 22%;
  background-color: white;
  margin-top: 110px;
}

body {
  background-image: url("./background.jpg");
  background-repeat:repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.Intro {
  background-color: #8b909b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 


.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

.Quiz1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}


.instructions {
  color: black;
  margin-left: 75px;
  margin-right: 75px;
  text-align: center;
}

.results-card {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.results-text {
  padding-top: 20px;
  padding-left: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
